* {
    font-family: 'Heebo', sans-serif;
}

// Position
.text-center {
    text-align: center;
}



// Custom forms
    .control .icon.clickable {
        pointer-events: initial;
        cursor: pointer;
    }
    
.is-square {
    border-radius: 0;
}

.is-primary-button {
    background-color: #ceba97;
    color: #fff;
}

.is-secondary-button {
    background-color: #000;
    color: #fff
}

input {
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
}

.button[disabled], fieldset[disabled] .button {
    background-color:  #ceba97;
}

.button.is-hovered, .button:hover {
    color: #e0d9d9;
}

// Cards
.starship-card {
    background-color: #f7f7f7;
    border-radius: 0px;
}

.starship-card-link{
    color: #ff7300;
    font-size: 0.7em;
}

// Table

.table-title {
    color: #ff7300;
    text-transform: uppercase;
}
.table-item, .table-title {
    font-size: 0.9em;
}

