<section class="section">
  <div class="container text-center">
    <h2 class="title is-2">Iniciar sesión</h2>
    <p class="subtitle">Introduzca su correo y su contraseña para acceder</p>

    <div class="colunms">
      <div class="column is-4 is-offset-4">

        <div class="notification is-danger is-light" *ngIf="loginError">
          <button class="delete" (click)="closeErrorAler()"></button>
          Error de autenticación
        </div>

        <form ngNativeValidate>
          <div class="field">
            <div class="control">
              <input class="input" type="text" placeholder="E-mail *" [(ngModel)]="user.email" name="email" />
            </div>
          </div>

          <div class="field">
            <div class="control has-icons-right">
              <input [type]="viewPassword ? 'text' : 'password'" class="input" placeholder="Contraseña *" [(ngModel)]="user.password" name="password"/>
              <span class="icon clickable is-small is-right is-active" *ngIf="!viewPassword" (click)="togglePassword()">
                <i class="far fa-eye"></i>
              </span>
              <span class="icon clickable is-small is-right is-active" *ngIf="viewPassword" (click)="togglePassword()">
                <i class="far fa-eye-slash"></i>
              </span>
            </div>
          </div>

          <div class="field mt-6">
            <div class="control">
              <button class="button is-fullwidth is-square is-primary-button" (click)="login()">
                Iniciar Sesión
              </button>
            </div>
          </div>

          <span class="mt-6"> ¿No tienes cuenta? </span>

          <div class="field mt-3">
            <div class="control">
              <button class="button is-fullwidth is-square is-secondary-button" (click)="toRegister()">
                Crear Cuenta
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
